/* Global styles */
body {
  background-image: url(../images/pattern.jpg);
}

header {
  margin: 20px 10% 25px;
}

h1 {
  text-align: center;
}

p {
  font-size: 14px;
}

img {
  max-width: 100%;
}

.hidden-header {
  display: none;
}

.fake-header {
  display: block;
  margin: 2em auto 1em auto;
}

.top-nav {
  margin-top: 10px;
}

.top-nav a {
  margin: 0 10px;
}

.nav-wrapper {
  display: inline-block;
  margin-bottom: 10px;
}

.slogan {
  display: inline-block;
  margin-left: 10%;
  max-width: 90%;
}

.sidebar, .content-wrapper {
  padding: 5px;
}

.sidebar a {
  display: block;
}

.content {
  background: white;
  margin-bottom: 100px;
  padding: 20px;
}

.item img {
  width: 100%;
}

.image-small {
  max-height: 150px;
  max-width:  150px;
}

.image-center {
  display: block;
  margin: 5px auto;
}

.image-right {
  float: right;
}

.image-left {
  float: left;
}

.image-left,
.image-right {
  margin: 5px 10px;
}

.event {
  border-bottom: 1px solid gray;
  margin: 0 0 10px;
  padding: 10px;
}

.event-main-image {
  float: right;
  margin: 5px;
  width: 40%;
}

.speaker {
  margin: 2em 0;
}

.small-avatar {
  float:  left;
  height: 2em;
  margin-right: 5px;
  width:  2em;
}

.profile {
  clear: both;
  margin: 0 auto;
  max-width: 400px;
}

.clearfix {
  clear: both;
}

/* Stupid hack to fix the Facebook Like Box */
iframe {
  max-height: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  /* Display sidebar links horizontally */
  .sidebar a {
    display: inline-block;
    width: 32%;
  }
}

@media only screen and (max-width: 320px) {
  .top-nav a {
    display: block;
  }
}
