.event {
	padding: 10px;
	margin: 0 0 10px;
	border-bottom: 1px solid gray;
}

.speaker {
	margin: 2em 0;
}

.event-main-image {
	float: right;
	width: 40%;
	margin: 5px;
}

.small-avatar {
	height: 2em;
	width:  2em;
	float:  left;
	margin-right: 5px;
}

.inline-with-image {
	display: inline;
	vertical-align: top;
}

.inline-with-image strong {
	display: inline;
	vertical-align: top;
}

.new-link {
	float: right;
	display: block;
}